---
layout: default
title: Awards
navbar_title: Awards
permalink: /awards/
---
<div class="row"><div class="col-12 col-lg-10"><h2 class="pt-4">Honors &amp; Awards</h2><div class="my-0 p-0 bg-white shadow-sm rounded-xl"><div class="p-3">{% for item in site.data.awards.national %}<p class="border-bottom border-gray pb-3"><strong>{{ item.name }}</strong> ({{ item.chinese }})<br><span class="small text-muted">{{ item.detail }} · {{ item.date }}</span></p>{% endfor %}{% for item in site.data.awards.provincial %}<p class="border-bottom border-gray pb-3"><strong>{{ item.name }}</strong> ({{ item.chinese }})<br><span class="small text-muted">{{ item.detail }} · {{ item.date }}</span></p>{% endfor %}{% for item in site.data.awards.scholarships %}<p class="border-bottom border-gray pb-3"><strong>{{ item }}</strong></p>{% endfor %}</div></div></div></div>
