---
layout: default
title: Homepage
navbar_title: Home
---
<div class="row"><div class="col-lg-3 col-md-4">{% include widgets/profile_card_mini.html %}</div><div class="col-lg-9 col-md-8">{% include widgets/profile_card_bio_only.html %}{% include widgets/experience_card.html %}{% assign research = site.research | sort: "date" | reverse | where: "selected", true %}{% include widgets/publication_card.html entries=research title='<i class="fas fa-star"></i> Selected Research' url='/research/' all_label='All research' limit=3 %}{% assign projects = site.projects | sort: "date" | reverse %}{% include widgets/publication_card.html entries=projects title='<i class="fas fa-laptop-code"></i> Independent Projects' url='/projects/' all_label='All projects' limit=2 %}</div></div>
